@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");

.main_text {
  font-size: 1.2em;
  font-family: "Instrument Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
#text1 {
  text-align: center;
  font-size: 1.4em;
  font-family: "Instrument Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
#text2 {
  text-align: center;
  font-size: 1.4em;
  font-family: "Instrument Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

#besplatno {
  font-size: 0.5em;
  font-family: "Instrument Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

#first-h {
  text-align: center;
  font-size: 2em;
  font-family: "Instrument Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

#second-h {
  text-align: center;
  font-size: 1.4em;
  font-family: "Instrument Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

#thirdt-h {
  text-align: center;
  font-size: 1.4em;
  font-family: "Instrument Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

#li34 {
  font-size: 1.2em;
  font-family: "Instrument Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
#li36 {
  font-size: 1.2em;
  font-family: "Instrument Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
#li38 {
  font-size: 1.2em;
  font-family: "Instrument Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

#li50 {
  font-size: 1.2em;
  font-family: "Instrument Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
#li51 {
  font-size: 1.2em;
  font-family: "Instrument Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
#four-h {
  text-align: center;
  font-size: 1.4em;
  font-family: "Instrument Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
#five-h {
  text-align: center;
  font-size: 1.4em;
  font-family: "Instrument Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
#pre-text {
  font-size: 1.4em;
  font-family: "Instrument Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
#six-h {
  text-align: center;
  font-size: 1.4em;
  font-family: "Instrument Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

#seven-h {
  text-align: center;
  font-size: 1.4em;
  font-family: "Instrument Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
#eight-h {
  text-align: center;
  font-size: 1.4em;
  font-family: "Instrument Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
#table1 {
  font-size: 1.2em;
  font-family: "Instrument Serif";
  font-style: normal;
  font-display: swap;
  border: thick #000000;
}
#tbody {
  font-size: 1.2em;
  font-family: "Instrument Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  text-align: center;
}
#nine-h {
  text-align: center;
  font-size: 1.4em;
  font-family: "Instrument Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
#ten-h {
  text-align: center;
  font-size: 1.4em;
  font-family: "Instrument Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
#li183 {
  font-size: 1.2em;
  font-family: "Instrument Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
#li184 {
  font-size: 1.2em;
  font-family: "Instrument Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
#eleven-h {
  text-align: center;
  font-size: 1.4em;
  font-family: "Instrument Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
#twelve-h {
  text-align: center;
  font-size: 1.4em;
  font-family: "Instrument Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
